<section id="meta">
    <div class="container grid-lg">
        <div class="">
            <small class="chip">current: @Season week @Week</small>
            @if (Model == null)
            {
                <small class="chip">fetching...</small>
            }
            else
            {
                <small class="chip">@Model.Updated</small>
            }
        </div>
        @if (Model != null)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>home</th>
                        <th>sprd</th>
                        <th>itt</th>
                        <th>away</th>
                        <th>sprd</th>
                        <th>itt</th>
                        <th>o/u</th>
                        <th>CDT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OddsData data in Games)
                    {
                        <tr class="@(data.GameTime >= DateTime.Now ? string.Empty : "text-strikethrough")">
                            <td>@data.Home</td>
                            <td>@data.HomeSpread</td>
                            <td>@data.HomeITT</td>
                            <td>@data.Away</td>
                            <td>@data.AwaySpread</td>
                            <td>@data.AwayITT</td>
                            <td>@data.OverUnder</td>
                            <td><span class="text-tiny">@data.GameTime.ToString("ddd, HH:mm")</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>fetching game odds...</p>
        }
    </div>
</section>

@code
{
    [Parameter]
    public int Season { get; set; }
    [Parameter]
    public int Week { get; set; }
    private OddsModel Model = null;
    private List<OddsData> Games = null;

    protected override async Task OnInitializedAsync()
    {
        OddsService service = new OddsService();
        Model = await service.Fetch(Season, Week);
        Games = Model.SortByDate();
    }
}



