@inject OddsService OService

<section id="meta">
    
    @if (Model != null)
    {
        <small>@Model.Updated</small>
        <figure>
            <table>
                <thead>
                    <tr>
                        <th>home</th>
                        <th>sprd</th>
                        <th>itt</th>
                        <th>away</th>
                        <th>sprd</th>
                        <th>itt</th>
                        <th>o/u</th>
                        <th>CDT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OddsData data in Games)
                    {
                        @if (data.GameTime >= DateTime.Now)
                        {
                            <tr>
                                <td>@data.Home</td>
                                <td>@data.HomeSpread</td>
                                <td>@data.HomeITT</td>
                                <td>@data.Away</td>
                                <td>@data.AwaySpread</td>
                                <td>@data.AwayITT</td>
                                <td>@data.OverUnder</td>
                                <td><small>@data.GameTime.ToString("ddd, HH:mm")</small></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </figure>
    }
    else
    {
        <a href="#" aria-busy="true">working on it...</a>
    }
</section>

@code
{
    [Parameter]
    public int Season { get; set; }
    [Parameter]
    public int Week { get; set; }
    private OddsModel Model = null;
    private List<OddsData> Games = null;

    protected override async Task OnInitializedAsync()
    {
        Model = await OService.Fetch(Season, Week);
        Games = Model.SortByDate();
    }
}



